<!DOCTYPE html>
html.h-100.position-relative(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Dark Black | Portfolio
        link(rel="stylesheet", href="./assets/css/style.css")
    body.h-100.position-relative
    
        include ./components/preloader
        include ./components/home

        script(src="https://code.jquery.com/jquery-3.2.1.min.js")
        script(src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js")
        script(src="https://hammerjs.github.io/dist/hammer.min.js")
        script(src="./assets/js/jquery.js")
        script(src="./assets/js/particles.js")
        script(src="./assets/js/hammer.js")
        script(src="./assets/js/app.js")