.panel.about.position-absolute.w-100.h-100.d-flex.justify-content-center.align-items-center
    .container-fluid.mb-4.mb-md-5
        .row
            .col-12.text-center.text-white
                .about-text
                    h1.letter-spacing-2 hello...,
                    p.px-md-6.about-body I am <b class="letter-spacing-1">VIKAS RAJ</b>,<br> I am a <code><b>&lt;Coder&gt;</b></code> who focuses on writing clean and elegant code.<br>I am currently living in New Delhi, Delhi with my lovely parents.<br>I done my high schooling in Delhi.<br>Also, I completed my graduation from Delhi University.