.panel.about.position-absolute.w-100.h-100.d-flex.justify-content-center.align-items-center
    .container-fluid.mb-4.mb-md-5
        .row
            .col-12.text-center.text-white
                .about-text.monument-valley.font-weight-bold
                    h2.letter-spacing-2.mb-3 hello..,
                    p.px-md-6.about-body.letter-spacing-1 
                        | I am <span class="font-weight-bold px-1">VIKAS RAJ</span>,
                        <br>A &lt;developer&gt; who knows how to write clean and scalable code.
                        <br>I know all the basics to the most advance topics in front end web tech.
                        <br>I am currently living in New Delhi, with my lovely parents.<br>
                    a(href="#0").white.text-black.px-2.py-1 know more