.panel.about.position-absolute.w-100.h-100.d-flex.justify-content-center.align-items-center
    .container-fluid.mb-4.mb-md-5
        .row
            .col-12.text-center.text-white
                .about-text.monument-valley
                    h2.letter-spacing-2.mb-3 hello...,
                    p.px-md-6.about-body.letter-spacing-1 I am <span class="font-weight-bold white text-black px-1">VIKAS RAJ</span>,<br> A <code><b>&lt;developer&gt;</b></code> who focuses on writing clean and elegant code.<br>I am currently living in New Delhi, Delhi with my lovely parents.<br>I done my high schooling in Delhi.<br>Also, I completed my graduation from Delhi University.