.menu-curtain.transition.h-100.position-absolute.white.d-flex.justify-content-center.align-items-center
    ul.menu-curtain-list.list-unstyled.text-uppercase.text-center.display-4.d-none
        li.menu-curtain-list-item.my-3: a.text-black(href="#0").d-flex.justify-content-center
            p.m-1 h
            p.m-1 o
            p.m-1 m
            p.m-1 e
        li.menu-curtain-list-item.my-3: a.text-black(href="#0").d-flex.justify-content-center
            p.m-1 a
            p.m-1 b
            p.m-1 o
            p.m-1 u
            p.m-1 t
        li.menu-curtain-list-item.my-3: a.text-black(href="#0").d-flex.justify-content-center
            p.m-1 p
            p.m-1 r
            p.m-1 o
            p.m-1 j
            p.m-1 e
            p.m-1 c
            p.m-1 t
            p.m-1 s
        li.menu-curtain-list-item.my-3: a.text-black(href="#0").d-flex.justify-content-center
            p.m-1 g
            p.m-1 a
            p.m-1 l
            p.m-1 l
            p.m-1 e
            p.m-1 r
            p.m-1 y
        li.menu-curtain-list-item.my-3: a.text-black(href="#0").d-flex.justify-content-center
            p.m-1 c
            p.m-1 o
            p.m-1 n
            p.m-1 t
            p.m-1 a
            p.m-1 c
            p.m-1 t