.menu-curtain.transition.h-100.position-absolute.white.d-flex.justify-content-center.align-items-center
    ul.list-unstyled.text-uppercase.text-center.display-4
        li.my-3: a.text-black(href="#0")
            span.mx-1 h
            span.mx-1 o
            span.mx-1 m
            span.mx-1 e
        li.my-3: a.text-black(href="#0")
            span.mx-1 a
            span.mx-1 b
            span.mx-1 o
            span.mx-1 u
            span.mx-1 t
        li.my-3: a.text-black(href="#0")
            span.mx-1 p
            span.mx-1 r
            span.mx-1 o
            span.mx-1 j
            span.mx-1 e
            span.mx-1 c
            span.mx-1 t
            span.mx-1 s
        li.my-3: a.text-black(href="#0")
            span.mx-1 g
            span.mx-1 a
            span.mx-1 l
            span.mx-1 l
            span.mx-1 e
            span.mx-1 r
            span.mx-1 y
        li.my-3: a.text-black(href="#0")
            span.mx-1 c
            span.mx-1 o
            span.mx-1 n
            span.mx-1 t
            span.mx-1 a
            span.mx-1 c
            span.mx-1 t
