.footer.position-absolute.w-100.px-md-3
    .container-fluid
        .row.text-white
            .col-12
                .d-flex.align-items-center.justify-content-between
                    .navigation-dots-wrapper
                        ul.list-unstyled.mb-0
                            li.list-inline-item.rounded-circle.pointer.mx-1.transition.navigation-dots.white-border.active
                            li.list-inline-item.rounded-circle.pointer.mx-1.transition.navigation-dots.white-border
                            li.list-inline-item.rounded-circle.pointer.mx-1.transition.navigation-dots.white-border
                            li.list-inline-item.rounded-circle.pointer.mx-1.transition.navigation-dots.white-border
                            li.list-inline-item.rounded-circle.pointer.mx-1.transition.navigation-dots.white-border
                    .view-profile-wrapper
                        ul.text-uppercase.list-unstyled.mb-0.d-flex.justify-content-end.align-items-center
                            li.mr-1.mr-md-2: small view profile
                            li.pointer.circle-arrow.white