.footer.position-absolute.w-100.px-md-3.d-none.d-md-block
    .container-fluid
        .row.text-white
            .col-12
                .d-flex.align-items-center.justify-content-between
                    .navigation-dots-wrapper
                        ul.navigation-dots-list.list-unstyled.mb-0
                            //- now this is rendering by the length of panels i.e. var panels = $('.panel') through js , changes to be done is js afterwards

                            //- li.navigation-dots.list-inline-item.rounded-circle.pointer.mx-1.transition.white-border.active
                            //- li.navigation-dots.list-inline-item.rounded-circle.pointer.mx-1.transition.white-border
                            //- li.navigation-dots.list-inline-item.rounded-circle.pointer.mx-1.transition.white-border
                            //- li.navigation-dots.list-inline-item.rounded-circle.pointer.mx-1.transition.white-border
                            //- li.navigation-dots.list-inline-item.rounded-circle.pointer.mx-1.transition.white-border
                    .proceed-btn-wrapper
                        ul.text-uppercase.list-unstyled.mb-0.d-flex.justify-content-end.align-items-center.monument-valley
                            li.mr-1.mr-md-2.proceed-btn-text.letter-spacing-4 home
                            li.proceed-btn.pointer.circle-arrow.right.white