.panel.gallery.position-absolute.w-100.h-100.d-flex.justify-content.align-items-center
    .container-fluid.h-100
        .row.h-100
            //- .col-6.text-center.text-white.px-0
            //-     .gallery-items.white
            //- .col-6.text-center.text-white.px-0
            //-     .gallery-items.dark
            //- .col-6.col-md-4.text-center.text-white.px-0
            //-     .gallery-items.white
            //- .col-6.col-md-4.text-center.text-white.px-0
            //-     .gallery-items.dark
            //- .col-6.col-md-4.text-center.text-white.px-0
            //-     .gallery-items.white
            //- .col-6.col-md-4.text-center.text-white.px-0
            //-     .gallery-items.dark
            //- .col-6.col-md-4.text-center.text-white.px-0
            //-     .gallery-items.white
            //- .col-6.col-md-4.text-center.text-white.px-0
            //-     .gallery-items.dark
            .col-6.col-md-3.text-center.text-white.px-0
                .gallery-items.white.h-100
            .col-6.col-md-3.text-center.text-white.px-0
                .gallery-items.dark.h-100
            .col-6.col-md-3.text-center.text-white.px-0
                .gallery-items.white.h-100
            .col-6.col-md-3.text-center.text-white.px-0
                .gallery-items.dark.h-100
            .col-6.col-md-3.text-center.text-white.px-0
                .gallery-items.dark.h-100
            .col-6.col-md-3.text-center.text-white.px-0
                .gallery-items.white.h-100
            .col-6.col-md-3.text-center.text-white.px-0
                .gallery-items.dark.h-100
            .col-6.col-md-3.text-center.text-white.px-0
                .gallery-items.white.h-100