.panel.gallery.position-absolute.w-100.h-100.d-flex.justify-content.align-items-center
    .container-fluid.mb-4.px-md-6
        .row.px-3.px-md-6.px-lg-5.mb-2
            //- .col-6.text-center.text-white.px-0
            //-     .gallery-items.white
            //- .col-6.text-center.text-white.px-0
            //-     .gallery-items.dark
            //- .col-6.col-md-4.text-center.text-white.px-0
            //-     .gallery-items.white
            //- .col-6.col-md-4.text-center.text-white.px-0
            //-     .gallery-items.dark
            //- .col-6.col-md-4.text-center.text-white.px-0
            //-     .gallery-items.white
            //- .col-6.col-md-4.text-center.text-white.px-0
            //-     .gallery-items.dark
            //- .col-6.col-md-4.text-center.text-white.px-0
            //-     .gallery-items.white
            //- .col-6.col-md-4.text-center.text-white.px-0
            //-     .gallery-items.dark
            .col-6.col-md-3.text-center.text-white.px-0
                .gallery-items.white
            .col-6.col-md-3.text-center.text-white.px-0
                .gallery-items.dark
            .col-6.col-md-3.text-center.text-white.px-0
                .gallery-items.white
            .col-6.col-md-3.text-center.text-white.px-0
                .gallery-items.dark
            .col-6.col-md-3.text-center.text-white.px-0
                .gallery-items.dark
            .col-6.col-md-3.text-center.text-white.px-0
                .gallery-items.white
            .col-6.col-md-3.text-center.text-white.px-0
                .gallery-items.dark
            .col-6.col-md-3.text-center.text-white.px-0
                .gallery-items.white