.panel.gallery.position-absolute.w-100.h-100.d-flex.justify-content.align-items-center
    .container-fluid.mb-4.mb-mb-5
        .row
            .col-6.col-md-4.text-center.text-white
                .white.p-5.p-md-6.my-2
            .col-6.col-md-4.text-center.text-white
                .white.p-5.p-md-6.my-2
            .col-6.col-md-4.text-center.text-white
                .white.p-5.p-md-6.my-2
            .col-6.col-md-4.text-center.text-white
                .white.p-5.p-md-6.my-2
            .col-6.col-md-4.text-center.text-white
                .white.p-5.p-md-6.my-2
            .col-6.col-md-4.text-center.text-white
                .white.p-5.p-md-6.my-2
            .col-6.text-center.text-white
                .white.p-5.p-md-6.my-2
            .col-6.text-center.text-white
                .white.p-5.p-md-6.my-2