#particles-js.position-absolute.h-100.w-100.black

.row.h-100.text-center
    .col-12.h-100.d-flex.flex-column.justify-content-center.align-items-center.text-white
        p.mb-4.display-1.text-uppercase.letter-spacing-3.font-weight-bold Vikas Raj
        p.lead.mb-6.text-uppercase.letter-spacing-1 Front End Web Developer