#particles-js.position-absolute.h-100.w-100.black

.container-fluid.h-100
    .row.h-100.text-center
        .col-12.h-100.d-flex.flex-column.justify-content-center.align-items-center.text-white
            p.author-title.mb-2.mb-md-4.text-uppercase.font-weight-bold 
                span.mx-2 V
                span.mx-2 i
                span.mx-2 k
                span.mx-2 a
                span.mx-2 s
                span.mx-2.mx-md-3
                span.mx-2 R
                span.mx-2 a
                span.mx-2 j
            p.author-description.mb-6.text-uppercase.letter-spacing-1 front end web developer
                