.preloader.h-100.w-100.position-fixed.black.text-white.d-flex.justify-content-center.align-items-center
    //- ul.preloader-text.list-unstyled.display-dyna.text-uppercase.mb-4
    //-     li.list-inline-item.preloader-text-item w
    //-     li.list-inline-item.preloader-text-item e
    //-     li.list-inline-item.preloader-text-item l
    //-     li.list-inline-item.preloader-text-item c
    //-     li.list-inline-item.preloader-text-item o
    //-     li.list-inline-item.preloader-text-item m
    //-     li.list-inline-item.preloader-text-item e
    .beam.beam-one.p-2-half.white.rounded-circle
    .beam.beam-two.p-2-half.white.rounded-circle