.panel.projects.position-absolute.w-100.h-100.d-flex.justify-content-center.align-items-center
    .container-fluid.mb-4.mb-md-5
        .row.text-white
            .col-12
                ul.list-unstyled.d-flex.justify-content-center.align-items-center
                    li.pointer.circle-arrow.left.white
                    li 
                        .white.p-6.mx-4
                    li.pointer.circle-arrow.right.white
            .col-12
                ul.list-unstyled
                    li
                    li
                    li
                    li