.panel.projects.position-absolute.w-100.h-100.d-flex.justify-content-center.align-items-center
    .container-fluid.mb-4
        .row.text-white
            .col-12
                ul.projects-wrapper.list-unstyled.d-flex.justify-content-center.align-items-center.mb-md-4
                    li.pointer.circle-arrow.left.white.projects-controller-left
                    li.projects-container.position-relative.d-flex.justify-content-center.align-items-center
                        //- now this is loading from an array i.e. projectsArray through js , changes to be done is js afterwards

                        //- .project-items.transition.dark.position-absolute.is-show 1
                        //-     .project-info-wrapper.position-absolute.w-100(style="bottom:5%;")
                        //-         .project-text.text-center.text-uppercase.letter-spacing-2.py-2: small One two three
                        //-         .project-links.text-center.d-flex.justify-content-center.mt-5
                        //-             a(href="#0")
                        //-                 .project-link-item.mx-2.mx-md-3.white.rounded-circle.d-flex.align-items-center.justify-content-center
                        //-                     <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" viewBox="0 0 576 512"><path d="M569.354 231.631C512.969 135.949 407.81 72 288 72 168.14 72 63.004 135.994 6.646 231.631a47.999 47.999 0 0 0 0 48.739C63.031 376.051 168.19 440 288 440c119.86 0 224.996-63.994 281.354-159.631a47.997 47.997 0 0 0 0-48.738zM288 392c-75.162 0-136-60.827-136-136 0-75.162 60.826-136 136-136 75.162 0 136 60.826 136 136 0 75.162-60.826 136-136 136zm104-136c0 57.438-46.562 104-104 104s-104-46.562-104-104c0-17.708 4.431-34.379 12.236-48.973l-.001.032c0 23.651 19.173 42.823 42.824 42.823s42.824-19.173 42.824-42.823c0-23.651-19.173-42.824-42.824-42.824l-.032.001C253.621 156.431 270.292 152 288 152c57.438 0 104 46.562 104 104z"/></svg>
                        //-             a(href="#0")
                        //-                 .project-link-item.mx-2.mx-md-3.white.rounded-circle.d-flex.align-items-center.justify-content-center
                        //-                     <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" viewBox="0 0 640 512"><path d="M278.9 511.5l-61-17.7c-6.4-1.8-10-8.5-8.2-14.9L346.2 8.7c1.8-6.4 8.5-10 14.9-8.2l61 17.7c6.4 1.8 10 8.5 8.2 14.9L293.8 503.3c-1.9 6.4-8.5 10.1-14.9 8.2zm-114-112.2l43.5-46.4c4.6-4.9 4.3-12.7-.8-17.2L117 256l90.6-79.7c5.1-4.5 5.5-12.3.8-17.2l-43.5-46.4c-4.5-4.8-12.1-5.1-17-.5L3.8 247.2c-5.1 4.7-5.1 12.8 0 17.5l144.1 135.1c4.9 4.6 12.5 4.4 17-.5zm327.2.6l144.1-135.1c5.1-4.7 5.1-12.8 0-17.5L492.1 112.1c-4.8-4.5-12.4-4.3-17 .5L431.6 159c-4.6 4.9-4.3 12.7.8 17.2L523 256l-90.6 79.7c-5.1 4.5-5.5 12.3-.8 17.2l43.5 46.4c4.5 4.9 12.1 5.1 17 .6z"/></svg>
                                    
                        //- .project-items.transition.dark.position-absolute 2
                        //- .project-items.transition.dark.position-absolute 3
                        //- .project-items.transition.dark.position-absolute 4
                    li.pointer.circle-arrow.right.white.projects-controller-right
            .col-12
                ul.list-unstyled.text-center.mb-4
                    li.list-inline-item.transition.pointer.rounded-circle.white.mx-2.project-navigation-dots.active
                    li.list-inline-item.transition.pointer.rounded-circle.white.mx-2.project-navigation-dots
                    li.list-inline-item.transition.pointer.rounded-circle.white.mx-2.project-navigation-dots
                    li.list-inline-item.transition.pointer.rounded-circle.white.mx-2.project-navigation-dots