.panel.projects.position-absolute.w-100.h-100.d-flex.justify-content-center.align-items-center
    .container-fluid.mb-4
        .row.text-white
            .col-12
                ul.projects-wrapper.list-unstyled.d-flex.justify-content-center.align-items-center.mb-md-4
                    li.pointer.circle-arrow.left.white.projects-controller-left
                    li.projects-container.position-relative.d-flex.justify-content-center.align-items-center
                        .project-items.transition.dark.position-absolute.is-show 1
                        .project-items.transition.dark.position-absolute 2
                        .project-items.transition.dark.position-absolute 3
                        .project-items.transition.dark.position-absolute 4
                    li.pointer.circle-arrow.right.white.projects-controller-right
            .col-12
                ul.list-unstyled.text-center.mb-4
                    li.list-inline-item.transition.pointer.rounded-circle.white.mx-2.project-navigation-dots.active
                    li.list-inline-item.transition.pointer.rounded-circle.white.mx-2.project-navigation-dots
                    li.list-inline-item.transition.pointer.rounded-circle.white.mx-2.project-navigation-dots
                    li.list-inline-item.transition.pointer.rounded-circle.white.mx-2.project-navigation-dots