@font-face {
    font-family: 'Raleway';
    src: url('../fonts/raleway.woff');
}
.raleway {
    font-family: 'Raleway', sans-serif;
}
@font-face {
    font-family: 'anurati';
    src: url('../fonts/anurati.otf');
}
.anurati {
    font-family: 'anurati', sans-serif;
}
// @font-face {
//     font-family: 'blanka';
//     src: url('../fonts/blanka.otf');
// }
// .blanka {
//     font-family: 'blanka', sans-serif;
// }
// @font-face {
//     font-family: 'neptune';
//     src: url('../fonts/neptune.otf');
// }
// .neptune {
//     font-family: 'neptune', sans-serif;
// }
// @font-face {
//     font-family: 'ailerons';
//     src: url('../fonts/ailerons.otf');
// }
// .ailerons {
//     font-family: 'ailerons', sans-serif;
// }
@font-face {
    font-family: 'monument valley';
    src: url('../fonts/monument-valley.otf');
}
.monument-valley {
    font-family: 'monument valley', sans-serif;
}
