a {
    text-decoration: unset !important;
}
.black {
    background: $black;
}
.white {
    background: $white;
}
.dark {
    background: $dark;
}
.pointer {
    cursor: pointer;
}
.transition {
    transition: .3s cubic-bezier(0.57, 0.04, 0, 0.97);
}
.flex-grow {
    flex-grow: 1 !important;
}
.flex-basis-0 {
    flex-basis: initial !important;
}
.flex-basis-md-100 {
    @include md {
        flex-basis: 100%;
    }
}
.display-dyna {
    font-size: 1.8rem;
    font-weight: 300;
    @include sm {
        font-size: 2rem;
    }
    @include md {
        font-size: 3rem;
    }
}
.line-height-0 {
    line-height: 0;
}
// glitch-effect =====================
.glitch-effect-neutral {
    animation: glitch-nuetral 2.5s infinite;
}
.glitch-effect-blue {
    color: #5af0d4;
    animation: glitch-blue 2.5s infinite;
}
.glitch-effect-red {
    color: #f76d6d;
    animation: glitch-red 2.5s infinite;

}
@keyframes glitch-neutral {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch-blue {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch-red {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}
// intro ==============
.author-title {
    font-size: 2rem;
    @include sm {
        font-size: 2.5rem;
    }
    @include md {
        font-size: 6rem;
    }
}
.author-description {
    font-size: .65rem;
    letter-spacing: .25rem;
    @include md {
        font-size: 1.2rem;
        letter-spacing: .5rem;
    }
}

// nav and header ==============
.hamburger-menu {
    width: 12%;
    @include sm {
        width: 8%;
    }
    @include md {
        width: 90%;
    }
}
.become-cross {
    .hamburger-line:nth-child(1) {
        transform: translateY(210%) rotate(45deg);
        @include sm {
            transform: translateY(300%) rotate(45deg);
        }
    }
    .hamburger-line:nth-child(2) {
        visibility: hidden;
        opacity: 0;
    }
    .hamburger-line:nth-child(3) {
        transform: translateY(-210%) rotate(-45deg);
        @include sm {
            transform: translateY(-300%) rotate(-45deg);
        }
    }
}
.social-wrapper {
    ul li svg {
        width: .85rem;
        @include sm {
            width: 1rem;
        }
    }
    .liner {
        display: none;
        @include md {
            display: block;
            transform: rotate(90deg) scaleX(7) translateX(-50%);
        }
    }
}
.menu-curtain {
    width: 0%;
    z-index: 500;
}
.menu-curtain-close {
    animation: stretchIn 1s cubic-bezier(0.57, 0.04, 0, 0.97) forwards;
    @keyframes stretchIn {
        0% { width: 100% }
        100% { width: 0% }
    }
}
.menu-curtain-open {
    animation: stretchAway 1s cubic-bezier(0.57, 0.04, 0, 0.97) forwards;
    @keyframes stretchAway {
        0% { width: 0% }
        100% { width: 100% }
    }
}
// cubic-bezier(0.57, 0.04, 0, 0.97)
// cubic-bezier(0.94, 0.22, 0.07, 1.01)
.menu-curtain-list-item p {
    opacity: 0;
}
.menu-curtain-list-item-go-down p {
    transform: translateY(-100%);
    opacity: 0;
    @for $i from 1 through 31 {
        &:nth-child(#{$i}) {
            animation: fadeDown 1.5s cubic-bezier(0.57, 0.04, 0, 0.97) forwards;
            animation-delay: ($i) * .075s;
        }
    }
    @keyframes fadeDown {
        100% {
            transform: translateY(0%);
            opacity: 1;
        }
    }
}
.menu-curtain-list-item-go-up p {
    animation: fadeUp .75s cubic-bezier(0.57, 0.04, 0, 0.97) forwards;
    transform: translateY(0%);
    opacity: 1;
    @keyframes fadeUp {
        100% {
            transform: translateY(-100%);
            opacity: 0;
        }
    }
}
// footer ============
.footer {
    bottom: 1rem;
    @include md {
        bottom: 1.5rem;
    }
}
.navigation-dots {
    padding: .22rem;
    @include md {
        padding: .3rem;
    }
    &.white-border {
        border: .05rem solid $white;
        &.active {
            background: $white;
        }
        @include md {
            border: .1rem solid $white;
        }
    }
    &.black-border {
        border: .05rem solid $black;
        &.active {
            background: $black;
        }
        @include md {
            border: .1rem solid $black;
        }
    }
}
.view-profile-wrapper {
    font-size: .8rem;
    letter-spacing: .2rem;
    @include md {
        font-size: initial;
        letter-spacing: .3rem;
    }
}
@mixin before {
    position: absolute;
    content: '';
    border-top: .4rem solid transparent;
    border-bottom: .4rem solid transparent;
    top: 50%;
    left: 50%;
    transform: translate(-35%,-50%);
}
.circle-arrow {
    position: relative;
    padding: .9rem;
    border-radius: 50%;
    @include md {
        padding: 1.2rem;
    }
    &.white {
        &::before {
            @include before;
            border-left: .4rem solid $black;
        }
    }
    &.black {
        &::before {
            @include before;
            border-left: .4rem solid $white;
        }
    }
}